

<div style="float: left; ">
<img src="images/profil.jpg"  style="float: left; width: 200px; margin: 5px;" />
Hi, I'm John-john Markstedt. Over the last few years I've come to wear many hats.<br><br>
  Primarily I'm a Software Engineer currently pursuing an M.Sc in CS and developing my image storage/sharing platform <a href="https://Tremory.com">Tremory.com</a>.
  <br><br>
    I've done a couple of longer cycling touring trips, cycling the 1405km between Milano - Barcelona in 2015 and across Europe, Stockholm - Rome in 2016.
    <br><br>
     Alot of time is also spent in the Financial sector. Both for personal gain but mostly because if you want to make the world a better place this is the sector that leaves the largest impact. 
    <br><br>
    The purpose of this website to hold all my tinkerings and resources together along with whatever I happen to write.
    <br>
    <br>
</div>

<div style=" left: 400px">
<section id="writing">
  <span class="h1"><a href="<%- url_for("archives") %>">Posts</a></span>
  <ul class="post-list">
    <% site.posts.sort('date', 'desc').limit(theme.customize.post_count || 5).each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
</section>

<section id="Categories">
    <span class="h1"><a href="<%- url_for("categories") %>">Categories</a></span>
    <ul class="post-list">
        <% if (site.categories.length){ %>
        <div class="widget-wrap">
            <div class="widget">
                <%- list_categories({show_count: theme.show_count}) %>
            </div>
        </div>
        <% } %>
    </ul>
</section>
</div>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>">Projects</a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%= site.data.projects[obj].desc %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>
